name: general-tests

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:

jobs:
  general-tests-job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        github-server-url: https://github.com/dogusyuksel/libcsp-works.git
        lfs: true

    - name: build
      run: |
        git submodule update --init --recursive
        cd rust-server
        echo "DEBUG:: BINDINGS CREATING.."
        make create-bindings
        echo "DEBUG:: BINDINGS CREATED AND SERVER IS BUILDING.."
        make build-server
        echo "DEBUG:: SERVER BUILT SUCCESSFULLY.."
